.carousel{
  width: 90%;
  display: flex;
  justify-content: center;

  &__contenedor{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .carousel__anterior,
    .carousel__siguiente{
      background: none;
      width: fit-content;
      border: none;
      color: $white;

      &:hover{
        cursor: pointer;
        color: $green;
      }
    }

    .carousel__lista{
      display: flex;
      align-items: center;
      height: 300px  !important;
      overflow: hidden;
      border-radius: 15px;
      margin: 0 1.5rem;

      .glider-track{

/*         height: 100%;
        max-width: 300px; */

        .carousel__elemento{
          /* height: 250px !important;
          width: 250px  !important; */
          height: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          border-radius: 15px;
          margin-right: 0.2rem;
          position: relative;
        
          img{
            height: 300px  !important;
          }

          div{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: fit-content;
            padding: 0.3rem 0;
            background-color: rgba(0,0,0,0.9);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p{
              text-align: left;
              font-size: 1rem;
              margin-left: 1rem;
            }
          }
        }
        
      }


    }

  }

}



